@media (min-width: 0) {
    .timer {
        font-size: 2rem;
    }

    .div-start-timer .btn {
        font-size: 0.7rem;
        font-weight: 400;
        color: #181818;
    }

    .div-start-timer {
        height: 2rem;
    }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) {
    .timer {
        font-size: 3rem;
    }
    
    .div-start-timer .btn {
        font-size: 1.1rem;
        font-weight: 400;
        color: #181818;
    }

    .div-start-timer {
        height: 4rem;
    }
}

/* Medium devices (tablets, 768px e superior) */
@media (min-width: 768px) {
    .timer {
        font-size: 4em;
    }

    .div-start-timer .btn {
        font-size: 1.3rem;
        font-weight: 400;
        color: #181818;
    }
}

/* Large devices (desktops, 992px e superior) */
@media (min-width: 992px) {
    .timer {
        font-size: 6em;
    }

    .div-start-timer .btn {
        font-size: 1.6rem;
        font-weight: 400;
        color: #181818;
    }
    
}

/* Extra large devices (large desktops, 1200px e superior */
@media (min-width: 1200px) {
    .timer {
        font-size: 8em;
    }

    .div-start-timer .btn {
        font-size: 1.8rem;
        font-weight: 400;
        color: #181818;
    }
    
}



html, body {
    background-color: #181818 !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Navbar
-------------------------- */

.navbar {
    background-color: #181818;
    letter-spacing: .0.7rem;
}

.navbar-icon {
    margin: 0px 10px 5px 0px;
}

.navbar .border-bottom {
    opacity: 1;
}

.navbar-brand {
    font-weight: 600;
}

/* Classes para debug 
------------------------------ */

.marcador-container {
    background: #5bf946;
    border: 1px solid #36ae26;
}

.marcador {
    background: #f39d9d;
    border: 1px solid #f94646;
}




/* Conteúdo Principal 
---------------------------- */

.conteudo {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
}





/* Botão Start 
-------------------------- */

.btn-start-timer {
    width: 75%;
    height: 100%;
}



/* Sobreescrevendo Bootstrap
---------------------------------- */

.btn {
    --bs-btn-border-width:none !important;
}

/*



/* Classes Botões Secundários
------------------------------------- */

.selected-btn {
    background: rgba(255, 255, 255, 0.2) !important;
}


/* Footer
------------------------------ */

.conteudo-footer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7em;
}

.footer-arr {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6em;
}

.sticky-footer {
    margin-top: auto;
}